<div id="onlineFriends" class="panel">
		<%= link_to "Online Friends", '#', :class => "sectionLabel round", 
														 					 :id =>  "onlineFriendsTitle" %>	
	<div id="onlineFriendsPhotos"></div>
</div>


<div id="friendWall" class="panel">
	<div class="sectionLabel round">Friends</div>
	<div id="friendPhotos"></div>
</div>
